* {
  font-family: "EB Garamond", serif;
}

body {
  display: flex;
  border: solid black;
  height: 100vh;
  background-image:    
    linear-gradient(#00cccc, #004c99, #190033);
}

.side-section {
  display: flex;
  border: solid black;
  height: 100vh;
  width: 25%;
  flex-direction: column;
  align-items: center;
}

.side-section article {
  border: solid black;
  width: 54%;
  margin-top: 10%;
  margin-bottom: .5%;
  height: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-1-icon, .player-2-icon {
  height: 78%;
}

.player-1-wins, .player-2-wins {
  font-size: 21px;
  margin-top: 3.5%;
}

.won-games {
  border: solid black;
  width: 97%;
  height: 69.75%;
}

.mid-section {
  display: flex;
  border: solid black;
  height: 100vh;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.win-msg {
  border: solid black;
  margin-top: 8%;
  height: 10% ;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.game-board {
  border: solid black;
  margin-top: 12%;
  margin-bottom: 8%;
  height: 65%;
  width: 75%;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.4%;
  grid-template-rows: 33.3% 33.3% 33.4%;
}

#s1, #s3, #s5, #s7, #s9 {
  background-color: #006666;
}

#s2, #s4, #s6, #s8 {
  background-color: #009999;
}

.game-board div {
  border: solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div img {
  border: solid black;
  height: 40%;
}
