* {
  font-family: "EB Garamond", serif;
}

body {
  display: flex;
  height: 100vh;
  background-image:
    linear-gradient(#00cccc, #004c99, #190033);
}

.side-section {
  display: flex;
  height: 100vh;
  width: 25%;
  flex-direction: column;
  align-items: center;
}

.side-section article {
  width: 54%;
  margin-top: 10%;
  margin-bottom: .5%;
  height: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-1-icon, .player-2-icon {
  height: 78%;
}

.player-1-wins, .player-2-wins {
  font-size: 21px;
  margin-top: 3.5%;
}

.won-games {
  width: 97%;
  height: 69.75%;
}

.mid-section {
  display: flex;
  height: 100vh;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.win-msg {
  margin-top: 8%;
  height: 10% ;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.game-board {
  margin-top: 12%;
  margin-bottom: 8%;
  height: 65%;
  width: 75%;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.4%;
  grid-template-rows: 33.3% 33.3% 33.4%;
}

.ordinal {
  background-color: #006666;
}

.ordinal:hover {
  background-color: #00cccc;
}

.cardinal {
  background-color: #009999;
}

.cardinal:hover {
  background-color: #00ffff;
}

.filled, .filled:hover {
  background: #009999;
}

/* .ordinal-filled, .ordinal-filled:hover {
  background: #006666;
} */

#s1 {
  border-top-left-radius: 5px;
}

#s3 {
  border-top-right-radius: 5px;
}

#s7 {
  border-bottom-left-radius: 5px;
}

#s9 {
  border-bottom-right-radius: 5px;
}

.game-board div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div img {
  height: 90%;
}
